version: '3.8'

networks:
  internal:

services:
  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_PORT=${MYSQL_PORT}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 3s
      timeout: 5s
      retries: 10
    volumes:
      - mysql-data:/var/lib/mysql
      - ./mysql.env:/etc/mysql/config/.env
      - ./src/data/sql/create_db.sql:/docker-entrypoint-initdb.d/create_db.sql
    ports:
      - "${MYSQL_PORT}:${MYSQL_PORT}"
    networks:
      internal:
  fastapi:
    build: .
    container_name: fastapi
    environment:
      - FASTAPI_HOST=${FASTAPI_HOST}
      - FASTAPI_PORT=${FASTAPI_PORT}
      - MYSQL_HOST=mysql
      - REDIS_HOST=redis
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "${FASTAPI_PORT}:${FASTAPI_PORT}"
    command: bash -c "
        python src/data/sql/seed_db.py
        && uvicorn src.main:app --host ${FASTAPI_HOST} --port ${FASTAPI_PORT} --reload"
    volumes: 
      - .:/podalirius
      - ./logs:/podalirius/logs
    networks:
      internal:
  redis:
    image: redis:latest
    container_name: redis
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_PORT=${REDIS_PORT}
    volumes:
      - redis_data:/data
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    networks:
      internal:

volumes:
  mysql-data:
    driver: local
  redis_data:
    driver: local
  fastapi_data:
    driver: local
