{% extends "base.html" %}

{% block content %}
<h2>Verify</h2>
{% set hidden_field = "phone" %}
<form method="post" action="{{ request.url_for('VerifyCode.form') }}">
  <input type="hidden" name="phone" id="phone" value="" required>
  <input type="text" name="code" id="code" value="" required>
  {% if errors and errors.get("code") %}
    <small>{{ errors["code"] }}</small>
  {% endif %}
  <button type="submit">Send</button>
</form>
{% include "form_input_err.html" %}
{% endblock %}

{% block scripts %}
<script>
  const phone = localStorage.getItem("phone");
  const phoneInput = document.getElementById("phone");
  if (phone && phoneInput) {
      phoneInput.value = phone;
    }
</script>
{% endblock %}
